@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F3F3F3;
    height: 100%;
    background: linear-gradient(135deg, #6F6DF4, #4C4AF4) fixed;
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

.container {
    background-color: #FFF;
    width: 450px;
    padding: 50px 40px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
}

.wrapper {
    display: flex;   
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.lbl {
    font-size: 16px;
    color: #44475B;
    font-weight: 400;
}

.val {
    color: #44475B;
    font-weight: 600;
    font-size: 18px;
}

.input-box {
    background-color: #CDCCFD;
    color: #6F6DF4;
    padding: 5px;
}

#bill {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100px;
    text-align: right;
    color: #6F6DF4;
}

hr {
    border: none;
    border-bottom: 1px solid #CDCCFD;
}

input[type="range"] {
    width: 100%;
    cursor: pointer;
}

input[type="range"]:not(:last-child) {
    margin-bottom: 5px;
}

section:not(:last-child) {
    margin-bottom: 40px;
}

section:not(:first-child) {
    margin-top: 40px;
}

section:last-child {
    background-color: #CDCCFD;
    padding: 10px;
    border-radius: 5px;
}

section:last-child .val, 
section:last-child .lbl {
    color: #4C4AF4;
} 
